
/********************************** Navigation  Bar *************************************/

.navbar-default {
  text-align: center;
  padding: 20px 0;
  .navbar-nav {
    float: none;
    li {
      float: none;
      display: inline-block;
      a {
        padding: 10px 30px;
      }
    }
    .active a {
      font-weight: 700;
      background-color: transparent !important;
    }
    .brand-logo {
      background-repeat: no-repeat;
      width: 170px;
      height: 79px;
      margin: 0 20px -53px 20px;
    }
  }
  .dropdown-toggle:hover {
    color: #000000 !important;
    background: rgba(255, 255, 255, 0.9) !important;
  }
  .open {
    .dropdown-toggle {
      color: #000000 !important;
      background: rgba(255, 255, 255, 0.9) !important;
    }
  }
  .dropdown-menu {
    min-width: 106px;
    font-size: 14px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    border-radius: 0;
    li {
      a {
        padding: 3px 17px;
        font-weight: 200 !important;
      }
    }
  }
  .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #bdbdbd;
    text-decoration: none;
    background-color: transparent;
  }
  .navbar-toggle {
    cursor: pointer;
    padding: 20px 41px 16px 0;
  }
  .navbar-toggle span, .navbar-toggle span:before, .navbar-toggle span:after {
    cursor: pointer;
    height: 2px;
    width: 30px;
    background: #eb2a2e;
    position: absolute;
    display: block;
    content: '';
  }
  .navbar-toggle span:before {
    top: -7px;
  }
  .navbar-toggle span:after {
    bottom: -7px;
  }
  .navbar-toggle span, .navbar-toggle span:before, .navbar-toggle span:after {
    transition: all 400ms ease-in-out;
  }
  .navbar-toggle.active span {
    background-color: transparent;
  }
  .navbar-toggle.active span:before, .navbar-toggle.active span:after {
    top: 0;
  }
  .navbar-toggle.active span:before {
    transform: rotate(45deg);
  }
  .navbar-toggle.active span:after {
    transform: rotate(-45deg);
  }
}
@media (min-width: 767px) {
  .navbar {
    padding: 20px 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }
  .top-nav-collapse {
    padding: 0;
  }
}

/********************************** Home Section *************************************/

.home-top {
  height: 100vh;
  padding-top: 33vh;
  background: url("../img/homebckg.jpg") no-repeat;
  background-size: cover;
  h1 {
    color: #ffffff;
    font-size: 70px;
  }
}

.story-of-brands {
  padding: 50px 0 100px 0;
  h3 {
    padding: 30px;
    font-weight: 700;
    color: #fff;
    z-index: 30;
    position: relative;
  }
  h2 {
    font-weight: 700;
  }
  img {
    position: absolute;
    z-index: 30;
    top: 170px;
    right: 30px;
    width: 80px;
  }
  a:hover {
    text-decoration: none;
  }
  .brand-col {
    padding: 0;
  }
  .single-brand {
    width: 190px;
    height: 190px;
  }
  .single-brand:hover {
    .dimmed:after {
      background: rgba(255, 255, 255, 0.7);
    }
    h3 {
      color: #000000;
    }
  }
  .dimmed {
    position: relative;
  }
  .dimmed:after {
    content: " ";
    z-index: 10;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    height: 190px;
  }
  .highland {
    background: url("../img/highland.png") no-repeat;
    background-size: cover;
  }
  .keush {
    background: url("../img/keush.jpg") no-repeat;
    background-size: cover;
  }
  .kataro{
    background: url("../img/kataro.jpg") no-repeat;
    background-size: cover;
  }
  .zabel {
    background: url("../img/zabel.jpg") no-repeat;
    background-size: cover;
  }
  .zulal {
    background: url("../img/zulal.jpg") no-repeat;
    background-size: cover;
  }
}

.presentation {
  padding-bottom: 60px;
  p {
    font-size: 16px;
  }
  .grape {
    background: url("../img/grape-bck.jpg") no-repeat;
    height: 400px;
    background-size: cover;
  }
  .history {
    background: #212121;
    height: 400px;
    color: #ffffff;
    padding: 20px 30px;
    .history-button {
      background: transparent;
      border: 1px solid #fff;
      color: #fff;
      font-size: 14px;
      padding: 5px 25px;
      margin-top: 150px;
      outline: none;
    }
  }
  .sun-icon {
    background: #789f2d;
    height: 400px;
    color: #ffffff;
    text-align: center;
    padding: 70px 50px;
    img {
      margin-bottom: 50px;
    }
  }
  .koor-teaser {
    background: url("../img/koor-teaser.png") no-repeat;
    height: 400px;
    background-size: cover;
  }
  .winnery-icon {
    background: #eaeaea;
    height: 400px;
    color: #718845;
    text-align: center;
    padding: 70px 50px;
    img {
      margin-bottom: 50px;
    }
  }
  .video-presentation {
    background: #212121;
    height: 400px;
    color: #ffffff;
    text-align: center;
    padding: 150px 0;
    img {
      margin-bottom: 30px;
    }
  }
}

.distribution {
  padding-bottom: 80px;
  h2 {
    padding: 0 0 20px 15px;
  }
  .single-distributor {
    padding: 25px 5px;
    background: #eeeeee;
    height: 185px;
    h4 {
      font-size: 16px;
    }
    a {
      font-size: 12px;
      text-decoration: none;
      color: #186cef;
    }
    img {
      padding-bottom: 20px;
    }
  }
}
/********************************** About Section *************************************/

.first-image {
  height: 55vh;
  background: url(../img/about-first.jpg) no-repeat;
  background-size: cover;
  background-position: 50% 36%;
}
.second-image {
  height: 55vh;
  background: url(../img/about-second.jpg) no-repeat;
  background-size: cover;
  background-position: 50% 60%;
}
.text-content {
  padding: 20px 0 80px 0;
  h1 {
    font-size: 50px;
    padding-left: 15px;
  }
  p {
    font-size: 16px;
  }
}

/********************************** Contact Section *************************************/

.contact {
  .map-view {
    height: 91vh;
  }
  .contact-details {
    height: 91vh;
    background: url(../img/wine-cellar.jpg) no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 0;
    .contact-info {
      width: 28vw;
      color: #fff;
      padding: 120px 0 0 50px;
      height: 91vh;
      background: rgba(33, 33, 33, 0.9);
      h1 {
        font-size: 40px;
        padding-bottom: 50px;
      }
      h5 {
        font-size: 12px;
        font-weight: 700;
      }
      p {
        padding-bottom: 12px;
      }
    }
  }
}

/********************************** Product  Section *************************************/
.product-top-image {
    height: 55vh;
    background: url(../img/product-top.png) no-repeat;
    background-size: cover;
    background-position: 50% 36%;
}
.all-products {
  padding-bottom: 100px;
  h2 {
    font-weight: 700;
    padding: 0 0 30px 15px;
  }
  .single-product {
    background-color: #eeeeee;
    padding: 25px 0;
    img {
      height: 270px;
    }
    h3 {
      font-weight: 700;
    }
    p {
      font-size: 16px;
    }
    .more-detail {
      background: transparent;
      border: 2px solid #660f21;
      color: #660f21;
      font-size: 14px;
      padding: 5px 25px;
      margin-top: 20px;
      outline: none;
      font-weight: 700;
    }
  }
}
.preview-images {
  padding: 35px 0 125px 0;
  background: #eeeeee;
  .preview-1 {
    height: 300px;
    background: url(../img/preview-one.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }
  .preview-2 {
    height: 300px;
    background: url(../img/preview-two.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }
  .preview-3 {
    height: 300px;
    background: url(../img/preview-three.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }
  .preview-4 {
    height: 300px;
    background: url(../img/grape-bck.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }
  .preview-5 {
    height: 300px;
    background: url(../img/zulal.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }
  .second-row {
    padding-top: 30px;
  }

}

/********************************** Footer *************************************/

.footer {
  background: #212121;
  padding: 30px 0;
  color: #ffffff;
  h5 {
    font-size: 12px;
  }
  .social-links {
    text-align: right;
    img {
      padding: 0 10px;
    }
  }
}


